<div class="br"></div>
<div class="divider"></div>

<div class="credits">
  <div class="entry"><span class="credit-hed">Interactive Developer:</span><br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
  </div>
  <div class="entry"><span class="credit-hed">Copy Editor:</span><br>Bernadette Fay  &bull; <a href="mailto:bfay@sfchronicle.com">bfay@sfchronicle.com</a>
  </div>
  <div class="entry"><span class="credit-hed">Graphic Illustrator:</span><br>Daymond Gascon  &bull; <a href="mailto:dgascon@sfchronicle.com">dgascon@sfchronicle.com</a>
  </div>
  <div class="entry"><span class="credit-hed">Assistant Managing Editor, Lifestyle:</span><br>Kitty Morgan  &bull; <a href="mailto:kmorgan@sfchronicle.com">kmorgan@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/Kitty_Morgan" target="_blank">@Kitty_Morgan</a>
  </div>
</div>
