<div class="br"></div>
<div class="divider"></div>

<div class="credits">
  <div class="entry"><span class="credit-hed">Interactive Developer:</span><br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
  </div>
  <div class="entry"><span class="credit-hed">Food Editor:</span><br>Paolo Lucchesi  &bull; <a href="mailto:plucchesi@sfchronicle.com">plucchesi@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/lucchesi" target="_blank">@lucchesi</a>
  </div>
  <div class="entry"><span class="credit-hed">Copy Chief:</span><br>Bernadette Fay  &bull; <a href="mailto:bfay@sfchronicle.com">bfay@sfchronicle.com</a>
  </div>
  <div class="entry"><span class="credit-hed">Graphic Illustrator:</span><br>Daymond Gascon  &bull; <a href="mailto:dgascon@sfchronicle.com">dgascon@sfchronicle.com</a>
  </div>
  <div class="entry"><span class="credit-hed">Staff Writers:</span><br>Sarah Fritsche, Jonathan Kauffman, Tara Duggan, Esther Mobley, Michael Bauer, Justin Phillips
  </div>
  <div class="entry"><span class="credit-hed">Assistant Managing Editor:</span><br>Kitty Morgan  &bull; <a href="mailto:kmorgan@sfchronicle.com">kmorgan@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/Kitty_Morgan" target="_blank">@Kitty_Morgan</a>
  </div>
</div>
